
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-wrapper {
  background-color: black; 
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  

}



.home-content {
  text-align: center;
  width: 90%;
}

.hero-title {
  display: flex;
  flex-direction: column; 
  align-items: center;
  color: #ffffff;
  font-family: 'Arial Black', sans-serif;
  text-transform: uppercase;
 margin-top: 100px;
}


.web-text {

  font-size: 6.8vw;
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: -2px;
}

.dev-text {
  background: linear-gradient(270deg, #ff1493, #e1ff21); 
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: pinkShift 4s ease infinite;
}



@keyframes pinkShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



.ampersand {
  font-size: 5vw;
  margin: 10px 0;
  font-weight: 400;
  
}


.ui-ux-animated {
  font-size: 5vw; 
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: -1px;
   color: white;
     -webkit-text-fill-color: white;
 
}

.ui-ux-text {
  font-size: 5vw;            
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: -1px;

  background: linear-gradient(270deg, #de08fa, #02d9d2); 
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: pinkShift 4s ease infinite;
}


@media (max-width: 768px) {
  .web-text {
    font-size: 11vw; 
  }
  .ui-ux-animated {
    font-size: 8vw;
  }
  .ui-ux-text {
    font-size: 8vw;   
  }
  .ampersand {
    font-size: 10vw;
  }
}




.resume-container{
  margin-top: 30px;
  display: flex;
  justify-content: center;

}

.resume-btn{
  margin-top: 50px;
  padding: 12px 28px;
  background-color: aquamarine;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.resume-btn:hover{
 box-shadow: 0 0 15px #82CD47;
 transform: scale(1.05);
}

@keyframes mobe {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}


